h1{
    font-size: 45px;
    text-align: center;
    border-bottom: 1px gray solid;
    padding: 20px;
    margin: 0px;
}

#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
  }
  
  body {
    margin: 0px;
  }
  
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  @media (max-width: 768px) {
  
    #grid ol{
        border-right: 3px solid pink;
        border-bottom: 3px solid pink;
    }

    h1{
        border-bottom: 3px solid pink;
    }
    img{
      width: 1fr; height: 130px;
    }
    p{
      font-size: 15px;
    }
  }

  @media (max-width: 320px) {
    #grid {
        display: block;
    }

    #grid ol{
        border-right: none;
    }
    ol{
      font-size: medium;
    }

    h1{
        border-bottom: none;
    }
    p {
      font-size: small;
      border: 1px solid blue;
    }
  }